<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiteUse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDAC90D71D5095C9005D6067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAC90EB1D5095C9005D6067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDAC90F61D5095C9005D6067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
